div.container{
    margin-top: 20px;
}
/*PAGE D'UNE ANNONCE LA BANNIERE AVEC IMAGE*/
div.ad-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title .btn{
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.ad-title h1, div.ad-title p{
    color: #FFF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/*Titre de mes annonces-Lien*/
h4.card-title a{
    color: #1565C0;
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

}

.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro{
    max-width: 20px;
    max-height: 20px;
}

/*CALENDRIER RESERVATION*/
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: firebrick !important;
}

/*PAGE D'UNE RESERVATION*/

.alert a {
    text-decoration: none;
}

.alert .btn{
    color: #fff;
}
/*couleur étoile */

span.rating i{
    color: goldenrod;
}

/*PAGE D ACCUEIL*/
@media screen and (min-width: 320px) and (max-width:375px)
{
    h1.display-3{
        font-size: 2.8em;
    }
}

@media screen and (min-width: 320px) and (max-width:414px)
{
    /*PAGE DE PROFIL USER*/
    .account_user{
        text-align: center;
    }
}